node_modules/
dist/
.cache/
release/
.env
.DS_Store
.vscode/

android/.gradle/
android/build/
android/app/build/
android/app/release/
android/app/src/main/assets/
android/local.properties
android/capacitor-cordova-android-plugins/build/
supabase/.temp/

*.apk
*.aab
*.exe
*.asar
*.zip

firebase-adminsdk.json
google-services.json
supabase-secrets.env
